
	body { 
		margin:0px;font-family:Î¢ÈíÑÅºÚ;
		overflow-x:auto;overflow-y:auto;
		color:#2F8793; 
	}
	table { font-family:Î¢ÈíÑÅºÚ; }

	.title { font-size:16px; color:#2F8793; background-color:#A2BF4E; padding:15 10 15 20;font-weight:bold;margin-bottom:10px; color:white; font-family:Î¢ÈíÑÅºÚ; }
	.item { padding:15 10 15 10; color:#2F8793; font-size:12px;border-bottom:1px solid #888888;line-height:200%; font-weight:bold;padding-left:30px;}
	.sample { display:none; }
	.code { border:1px solid #666666; padding:5px; font-size:12px;margin: 5 0 5 0; display:block;width:100%;background-color:#e7e7e7;}
	.descName { font-size:12px;vertical-align:top; white-space:nowrap;font-weight:bold;}
	.descContent { font-size:12px;vertical-align:top;}
	.descTitle { font-size:12px; vertical-align:top; font-weight:bold;}
	.itemContent { margin-top:15px;}
	.itemTitle { cursor:hand;}
	.gohome { display:none; }
	.note { font-size:12px;color:#444444; line-height:150%;font-weight:normal; }

	.styleTable {font-size:12px;color:#444444;}
	.styleName {white-space:nowrap;padding:2 5 2 5;}
	.styleCategory {font-weight:bold;white-space:nowrap;padding:2 5 2 5;font-size:20px;background-color: #FDF9A6; }
	.defaultValue {white-space:nowrap;padding:2 5 2 5;}

	.styleLine1 { background-color: #E7E7E7; }
	.styleLine2 { background-color: #E7E7E7; }
